@import "colors";

.footer {
  background: $text-white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__cols {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  grid-auto-columns: max-content;
  justify-items: center;
}

.footer__cols-item {
  margin-left: 4rem;
}

.footer__info  {
  display: grid;
  grid-auto-flow: row;
  font-size: 0.9rem;
  p {
    margin: 0.3rem;
  }
}

.footer__nav {
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5rem;
}

.footer__nav-link > a {
  text-decoration: none;
  color: $black;
  font-weight: 500;
}