@import "colors";

.accordion {
  background: $text-white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  transform: scale(1.00);
  border: 3px solid transparent;

  &_header > span {
    padding: .5rem;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    color: #000;

    &:hover {
      .arrow {
        transition: all 0.3s ease-in-out;
        background: $Tempest-Browser-Privacy-Panel-1-hex;
        color: $text-white;
        border-radius: .5rem;
        padding: .4rem;
      }
    }
  }

  &_content {
    padding: .5rem;
    display: grid;

    p {
      margin: .2rem;
    }
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
    border: $Tempest-Browser-Privacy-Panel-1-hex solid 2px;
  }

  .arrow {
    transition: all 0.3s ease-in-out;
    border-radius: .5rem;
    padding: .4rem;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

  .accordion {
    background: $text-white;
    border-radius: .7rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    transform: scale(1.00);
    border: 3px solid transparent;

    &_header > span {
      padding: .2rem;
      display: flex;
      align-items: center;
      grid-gap: .5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: #000;

      &:hover {
        .arrow {
          transition: all 0.3s ease-in-out;
          background: $Tempest-Browser-Privacy-Panel-1-hex;
          color: $text-white;
          border-radius: .5rem;
          padding: .2rem;
        }
      }
    }

    &_content {
      padding: .5rem;
      display: grid;

      p {
        margin: .2rem;
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.02);
      border: $Tempest-Browser-Privacy-Panel-1-hex solid 2px;
    }

    .arrow {
      transition: all 0.3s ease-in-out;
      border-radius: .5rem;
      padding: .2rem;
    }
  }

}

@media (max-width: 767px) {

  .accordion {
    background: $text-white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    transform: scale(1.00);
    border: 3px solid transparent;

    &_header > span {
      padding: .5rem;
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: #000;

      &:hover {
        .arrow {
          transition: all 0.3s ease-in-out;
          background: $Tempest-Browser-Privacy-Panel-1-hex;
          color: $text-white;
          border-radius: .5rem;
          padding: .4rem;
        }
      }
    }

    &_content {
      padding: .5rem;
      display: grid;

      p {
        margin: .2rem;
      }
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.02);
      border: $Tempest-Browser-Privacy-Panel-1-hex solid 2px;
    }

    .arrow {
      transition: all 0.3s ease-in-out;
      border-radius: .5rem;
      padding: .2rem;
    }
  }


}
