@import "colors";

.footer {
  background: $text-white;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer__cols {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  grid-auto-columns: max-content;
  justify-items: center;
}

.footer__cols-item {
  margin-left: 4rem;
}

.footer__info {
  display: grid;
  grid-auto-flow: row;
  font-size: 0.9rem;

  p {
    margin: 0.3rem;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    padding: .1rem;

    &:hover {
      padding: .1rem;
      color: $text-white;
      transition: all 0.2s ease-in-out;
      background: $Tempest-Browser-Privacy-Panel-1-hex;
    }
  }
}

.footer__nav {
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5rem;
}

.footer__nav-link > a {
  text-decoration: none;
  color: $black;
  font-weight: 500;

  transition: all 0.2s ease-in-out;
  padding: .1rem;

  &:hover {
    padding: .1rem;
    color: $text-white;
    transition: all 0.2s ease-in-out;
    background: $Tempest-Browser-Privacy-Panel-1-hex;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

}

@media (max-width: 767px) {

}