@import "colors";

.header {
  background-color: $text-white;
  color: $black;
  margin: 0;
  padding: 0;

  &_nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;

    &_toogle {
      display: none;
    }

    &_logo {
      margin-left: 4rem;

      h1 {
        margin: 0;
        text-align: center;
      }
    }

    &_bar {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      justify-items: center;
      list-style: none;

      &_link > a {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        padding: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $Tempest-Browser-Privacy-Panel-1-hex;
          color: $text-white;
        }
      }
    }

    &_language {
      margin-right: 4rem;
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

}

@media (max-width: 767px) and (min-width: 320px) {
  .header {
    background-color: $text-white;
    color: $black;
    margin: 0;
    padding: 0;

    &_nav {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      grid-gap: .5rem;
      padding: 1rem;

      &_logo {
        font-size: .8rem;
        margin: 0;
        text-align: center;
      }

      &_toogle {
        display: flex;
        justify-self: center;
        align-self: center;
        font-size: 1.3rem;
      }

      &_menu {
        display: block;
        justify-items: center;
        list-style: none;
        padding: 0;
        grid-gap: 1rem;
        margin: 0;

        &_link {
          padding: .2rem;
          text-align: center;

          a {
            text-decoration: none;
            color: $black;
            font-weight: 600;
            padding: 0;
            transition: all 0.2s ease-in-out;
          }

        }
      }

      &_bar {
        display: none;
      }

      &_language {
        margin-right: 4rem;
      }
    }
  }
}