@import "footer";
@import "header";
@import "colors";
@import "card";
@import "card-skeleton";
@import "input";
@import "overlay";
@import 'accordion';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
  background: $Tempest-Browser-Privacy-Panel-5-hex;
  margin: 0;
}

main {
  padding: 4rem;
}

.home {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;

  &_headline {
    display: grid;

    &-text {
      width: 60rem;
      justify-self: center;
      text-align: center;

      hr {
        width: 10rem;
        border-width: 1.5px
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  &_about {
    margin-top: 5rem;
    justify-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;

    .text {
      width: 40rem;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem;
      place-self: center;
    }

    .image img {
      border-radius: .5rem;
      box-shadow: 0 0 1rem 0 rgba($grey, 1);
    }
  }

  span {
    padding: .1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $text-white;
      background: $Tempest-Browser-Privacy-Panel-1-hex;
      padding: .1rem;
      transition: all 0.2s ease-in-out;
    }
  }
}

.gallery {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-gap: 2rem;

  .filter-component {
    justify-self: center;
  }

  &_area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    height: 40rem;
    overflow-x: auto;
    padding: 1rem;
    justify-items: center;
  }

  &_message {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;

    .message-box {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
      justify-items: center;
      align-items: center;
      padding: 2rem;
      border-radius: 2rem;
      background: lighten($danger, 10%);
      color: $text-white;
      border: 2.5px solid $danger;
      transition: all 0.4s ease-in-out;

      .icon {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        color: $text-white;

      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
      }

      &:hover {
        transform: scale(1.05);
        background: $danger;
        transition: all 0.4s ease-in-out;
        color: $text-white;
        padding: 2rem;
        width: fit-content;
        border-radius: 2rem;
      }
    }
  }


  &_footer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
    justify-content: center;

    span {
      align-self: center;
      font-weight: 600;
      font-size: 1.05rem;
    }
  }
}

.detail {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 5rem;
  justify-content: center;
  margin: 5rem 0 5rem 0;

  &__image img {
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba($grey, 1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 1rem 0 rgba($grey, .5);
      cursor: zoom-in;
    }
  }

  &__content {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 1rem;
    width: 40rem;

    &-title {
      display: grid;
      grid-auto-flow: row;
      grid-auto-columns: max-content;
      justify-items: left;
      grid-gap: .5rem;

      h2 {
        font-size: 2.5rem;
        font-weight: 600;
      }

      h2, p {
        margin: 0;
        align-self: center;
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
        color: darken($grey, 40%);
      }
    }

    &-info {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }

      &-column {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;

        &-row {
          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }

    &-footer > a {
      transition: all 0.3s ease-in-out;
      color: $black;
      font-weight: 600;
      padding: .4rem;
      width: fit-content;
      border-radius: .5rem;
      text-decoration: none;

      &:hover {
        background: $Tempest-Browser-Privacy-Panel-1-hex;
        transition: all 0.3s ease-in-out;
        color: $text-white;
        padding: .4rem;
        width: fit-content;
        border-radius: .5rem;
      }
    }
  }
}

.image-metadata-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-gap: 1rem;

  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    i {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      margin-right: 1rem;
    }

    &-camera {
      h3 {
        margin: 0 0 .1rem 0;
      }

      span {
        font-size: 1rem;
        font-weight: 600;
        color: darken($grey, 40%);
      }
    }
  }

  &-content {
    margin-top: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;

    &-column {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-gap: 1.5rem;
      justify-items: left;

      &-item {
        display: flex;
        align-items: center;

        i {
          font-size: 2rem;
          display: flex;
          justify-content: center;
          margin-right: 1rem;
        }

        span {
          font-size: 1rem;
          font-weight: normal;
          width: 8rem;
          word-wrap: break-word;
        }
      }
    }
  }

  &-footer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;

    &-copyright, &-artist {
      span {
        align-self: center;
        font-weight: normal;
        font-size: 1.05rem;
      }
    }
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

@media (max-width: 1080px) and (min-width: 768px) {
  body {
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
    background: $Tempest-Browser-Privacy-Panel-5-hex;
    margin: 0;
  }

  .home {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;

    &_headline {
      display: grid;

      &-text {
        width: 40rem;
        justify-self: center;
        text-align: center;

        hr {
          width: 10rem;
          border-width: 1.5px
        }

        p {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }

    &_about {
      margin-top: 5rem;
      justify-self: center;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 2rem;

      .text {
        width: 40rem;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.5rem;
        place-self: center;

        h1 {
          font-size: 1.8rem;
        }
      }

      .image img {
        border-radius: .5rem;
        box-shadow: 0 0 1rem 0 rgba($grey, 1);
      }
    }

    span {
      padding: .1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $text-white;
        background: $Tempest-Browser-Privacy-Panel-1-hex;
        padding: .1rem;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .gallery {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 2rem;

    .filter-component {
      justify-self: center;
    }

    &_area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      height: 40rem;
      overflow-x: auto;
      padding: .5rem;
      justify-items: center;
    }

    &_message {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;
      justify-items: center;
      align-items: center;
      padding: 1rem;

      .message-box {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
        padding: 2rem;
        border-radius: 2rem;
        background: lighten($danger, 10%);
        color: $text-white;
        border: 2.5px solid $danger;
        transition: all 0.4s ease-in-out;

        .icon {
          font-size: 2rem;
          display: flex;
          justify-content: center;
          color: $text-white;

        }

        p {
          font-size: 1.2rem;
          font-weight: 600;
          margin: 0;
        }

        &:hover {
          transform: scale(1.05);
          background: $danger;
          transition: all 0.4s ease-in-out;
          color: $text-white;
          padding: 2rem;
          width: fit-content;
          border-radius: 2rem;
        }
      }
    }


    &_footer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-gap: .5rem;
      justify-content: center;

      span {
        align-self: center;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  .detail {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    grid-gap: 1em;
    justify-content: center;
    margin: 5rem 0 5rem 0;

    &__image img {
      border-radius: .5rem;
      box-shadow: 0 0 1rem 0 rgba($grey, 1);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 1rem 0 rgba($grey, .5);
        cursor: zoom-in;
      }
    }

    &__content {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-gap: 1rem;
      width: 40rem;
      place-self: center;

      &-title {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: max-content;
        justify-items: left;
        grid-gap: .5rem;

        h2 {
          font-size: 2rem;
          font-weight: 600;
        }

        h2, p {
          margin: 0;
          align-self: center;
        }

        p {
          font-size: 1.2rem;
          font-weight: 600;
          color: darken($grey, 40%);
        }
      }

      &-info {
        span {
          font-size: 1.2rem;
          font-weight: 600;
        }

        &-column {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 1rem;

          &-row {
            &-item {
              display: flex;
              align-items: center;
              justify-content: space-between;

              span {
                font-size: 1rem;
                font-weight: 600;
              }
            }
          }
        }
      }

      &-footer > a {
        transition: all 0.3s ease-in-out;
        color: $black;
        font-weight: 600;
        padding: .4rem;
        width: fit-content;
        border-radius: .5rem;
        text-decoration: none;

        &:hover {
          background: $Tempest-Browser-Privacy-Panel-1-hex;
          transition: all 0.3s ease-in-out;
          color: $text-white;
          padding: .4rem;
          width: fit-content;
          border-radius: .5rem;
        }
      }
    }
  }

  .image-metadata-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 1rem;

    &-header {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;

      i {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-right: 1rem;
      }

      &-camera {
        h3 {
          margin: 0 0 .1rem 0;
        }

        span {
          font-size: 1rem;
          font-weight: 600;
          color: darken($grey, 40%);
        }
      }
    }

    &-content {
      margin-top: 1.5rem;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;

      &-column {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        grid-gap: 1.5rem;
        justify-items: left;

        &-item {
          display: flex;
          align-items: center;

          i {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            margin-right: 1rem;
          }

          span {
            font-size: 1rem;
            font-weight: normal;
            width: 8rem;
            word-wrap: break-word;
          }
        }
      }
    }

    &-footer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-gap: 1rem;
      justify-content: center;
      margin-top: 2rem;

      &-copyright, &-artist {
        span {
          align-self: center;
          font-weight: normal;
          font-size: 1.05rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  main {
    padding: 1rem;
  }

  body {
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
    background: $Tempest-Browser-Privacy-Panel-5-hex;
    margin: 0;
  }

  .home {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;

    &_headline {
      display: grid;

      &-text {
        width: 20rem;
        justify-self: center;
        text-align: center;

        hr {
          width: 10rem;
          border-width: 1.5px
        }

        p {
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }

    &_about {
      margin-top: 2rem;
      justify-self: center;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 2rem;

      .text {
        width: 20rem;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5rem;
        place-self: center;

        h1 {
          font-size: 1.4rem;
        }
      }

      .image img {
        border-radius: .5rem;
        box-shadow: 0 0 1rem 0 rgba($grey, 1);
        width: 20rem;
        height: 15rem;
      }
    }

    span {
      padding: .1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $text-white;
        background: $Tempest-Browser-Privacy-Panel-1-hex;
        padding: .1rem;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .gallery {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 2rem;

    .filter-component {
      justify-self: center;
    }

    &_area {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      height: 40rem;
      overflow-x: auto;
      padding: .5rem;
      justify-items: center;
    }

    &_message {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 2rem;
      justify-items: center;
      align-items: center;
      padding: 1rem;

      .message-box {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;
        padding: 2rem;
        border-radius: 2rem;
        background: lighten($danger, 10%);
        color: $text-white;
        border: 2.5px solid $danger;
        transition: all 0.4s ease-in-out;

        .icon {
          font-size: 2rem;
          display: flex;
          justify-content: center;
          color: $text-white;

        }

        p {
          font-size: 1.2rem;
          font-weight: 600;
          margin: 0;
        }

        &:hover {
          transform: scale(1.05);
          background: $danger;
          transition: all 0.4s ease-in-out;
          color: $text-white;
          padding: 2rem;
          width: fit-content;
          border-radius: 2rem;
        }
      }
    }


    &_footer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-gap: .5rem;
      justify-content: center;

      span {
        align-self: center;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  .detail {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-gap: 1em;
    justify-content: center;
    margin: 5rem 0 5rem 0;

    &__image {
      place-self: center;

      img {
        width: 360px;
        height: auto;
        border-radius: .5rem;
        box-shadow: none;
        transition: all 0.3s ease-in-out;
      }
    }

    &__content {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-gap: 1rem;
      width: inherit;
      place-self: center;

      &-title {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: max-content;
        justify-items: left;
        grid-gap: .5rem;

        h2 {
          font-size: 1.5rem;
          font-weight: 600;
        }

        h2, p {
          margin: 0;
          align-self: center;
        }

        p {
          font-size: 1.2rem;
          font-weight: 600;
          color: darken($grey, 40%);
        }
      }

      &-info {
        span {
          font-size: 1rem;
          font-weight: 600;
        }

        &-column {
          display: grid;
          grid-auto-flow: row;
          grid-gap: .5rem;

          &-row {
            &-item {
              display: flex;
              align-items: center;
              justify-content: space-between;

              span {
                font-size: 1rem;
                font-weight: 600;
              }
            }
          }
        }
      }

      &-footer {
        place-self: center;

        a {
          transition: all 0.3s ease-in-out;
          color: $black;
          font-weight: 500;
          padding: .4rem;
          width: fit-content;
          border-radius: .5rem;
          text-decoration: none;

          &:hover {
            background: $Tempest-Browser-Privacy-Panel-1-hex;
            transition: all 0.3s ease-in-out;
            color: $text-white;
            padding: .4rem;
            width: fit-content;
            border-radius: .5rem;
          }
        }
      }
    }
  }

  .image-metadata-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 1rem;

    &-header {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;

      i {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-right: 1rem;
      }

      &-camera {
        h3 {
          margin: 0 0 .1rem 0;
          font-size: 1.2rem;
        }

        span {
          font-size: 1rem;
          font-weight: 600;
          color: darken($grey, 40%);
        }
      }
    }

    &-content {
      margin-top: 1.5rem;
      display: grid;
      grid-auto-flow: column;
      justify-content: left;

      &-column {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        grid-gap: 1.1rem;
        justify-items: left;

        &-item {
          display: flex;
          align-items: center;

          i {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            margin-right: .5rem;
          }

          span {
            font-size: .9rem;
            font-weight: normal;
            width: 4rem;
            word-wrap: break-word;
          }
        }
      }
    }

    &-footer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-gap: .5rem;
      justify-content: center;
      margin-top: 2rem;

      &-copyright, &-artist {
        span {
          align-self: center;
          font-weight: normal;
          font-size: .9rem;
        }
      }
    }
  }
}