@use "colors";

.filter {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  padding: 1rem;
  background: colors.$text-white;
  border-radius: 2rem;
  width: fit-content;
  align-self: center;

  &_input {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    grid-gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;

    label {
      font-weight: 500;
    }
  }
}

input, select {
  padding: .5rem;
  border-radius: .5rem;
  border: 2px solid colors.$Tempest-Browser-Privacy-Panel-5-hex;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
  background: colors.$text-white;
  width: 10rem;

  &:focus, &:hover {
    border: 2px solid colors.$Tempest-Browser-Privacy-Panel-1-hex;
  }

  &:invalid {
    border: 2px solid colors.$danger;
  }

  &:disabled {
    border: 2px solid colors.$disabled;
    color: colors.$disabled-text;
    cursor: not-allowed;
  }
}

::placeholder {
  color: colors.$black;
  opacity: 1;
}

.btn {
  color: colors.$black;
  background: colors.$text-white;
  border: none;
  padding: .4rem;
  width: fit-content;
  border-radius: .5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
    transition: all 0.3s ease-in-out;
    color: colors.$text-white;
    padding: .4rem;
    width: fit-content;
    border-radius: .5rem;
  }

  &:disabled {
    background: colors.$disabled;
    color: colors.$disabled-text;
    border: none;
    padding: .4rem;
    width: fit-content;
    border-radius: .5rem;
    font-weight: 600;
  }
}

.btn-pagination {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;

  &:hover {
    background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
    transition: all 0.6s ease-in-out;
    color: colors.$text-white;
    width: fit-content;
    padding: .7rem;
    border-radius: 100%;
  }

  &:disabled {
    background: colors.$disabled;
    color: colors.$disabled-text;
    border: none;
    width: fit-content;
    font-weight: 600;
    padding: .7rem;
    border-radius: 100%;
  }

  svg {
    display: block;
    margin: auto;
    width: 1rem;
    height: 1rem;
  }
}

.language_switcher {

  &-button {
    text-decoration: none;
    color: colors.$black;
    font-weight: 600;
    padding: 1rem;
    width: 5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: none;

    &:hover {
      background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
      color: colors.$text-white;
    }
  }

  &-content {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(colors.$grey, 0.2);

    &-selection {
      font-weight: 600;
      width: 7rem;
      text-align: center;
      padding: 1rem 0 1rem 0;
      background: colors.$text-white;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
        color: colors.$text-white;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.selected {
  background: colors.$Tempest-Browser-Privacy-Panel-2-hex;
  color: colors.$text-white;
}

@media (max-width: 1024px) and (min-width: 768px) {

  .filter {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    justify-content: center;
    padding: .5rem;
    background: colors.$text-white;
    border-radius: .9rem;
    width: fit-content;
    align-self: center;

    &_input {
      display: grid;
      grid-auto-flow: row;
      grid-auto-columns: max-content;
      grid-gap: .5rem;
      justify-content: center;
      align-items: center;
      padding: .6rem;

      label {
        font-weight: 600;
      }

      input, select {
        padding: .5rem;
        border-radius: .3rem;
        border: 2px solid colors.$Tempest-Browser-Privacy-Panel-5-hex;
        transition: all 0.3s ease-in-out;

        &:disabled {
          border: 2px solid colors.$disabled;
          color: colors.$disabled-text;
          cursor: not-allowed;
        }
      }
    }
  }

  .btn-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;

    &:hover {
      background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
      transition: all 0.3s ease-in-out;
      color: colors.$text-white;
      width: fit-content;
      padding: .7rem;
      border-radius: 100%;
    }

    &:disabled {
      background: colors.$disabled;
      color: colors.$disabled-text;
      border: none;
      width: fit-content;
      font-weight: 600;
      padding: .5rem;
      border-radius: 100%;
    }

    svg {
      display: block;
      margin: auto;
      width: 1rem;
      height: 1rem;
    }
  }


}

@media (max-width: 767px) {

  .btn-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;

    &:hover {
      background: colors.$Tempest-Browser-Privacy-Panel-1-hex;
      transition: all 0.3s ease-in-out;
      color: colors.$text-white;
      width: fit-content;
      padding: .4rem;
      border-radius: 100%;
    }

    &:disabled {
      background: colors.$disabled;
      color: colors.$disabled-text;
      border: none;
      width: fit-content;
      font-weight: 600;
      padding: .4rem;
      border-radius: 100%;
    }

    svg {
      display: block;
      margin: auto;
      width: 1rem;
      height: 1rem;
    }
  }

  .filter {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    justify-content: center;
    padding: .5rem;
    background: colors.$text-white;
    border-radius: .9rem;
    width: fit-content;
    align-self: center;

    &_input {
      display: grid;
      grid-auto-flow: row;
      grid-auto-columns: max-content;
      grid-gap: .5rem;
      justify-content: center;
      align-items: center;
      padding: .6rem;

      label {
        font-weight: 600;
      }

      input, select {
        padding: .5rem;
        border-radius: .3rem;
        border: 2px solid colors.$Tempest-Browser-Privacy-Panel-5-hex;
        transition: all 0.3s ease-in-out;

        &:disabled {
          border: 2px solid colors.$disabled;
          color: colors.$disabled-text;
          cursor: not-allowed;
        }
      }
    }
  }
}
