@import "colors";

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  &-column {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 1rem;
    place-items: center;
    justify-content: center;

    img {
      border-radius: 1rem;
    }

    &__side {
      position: relative;
      top: -22.5rem;

      button {
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4rem;
        border-radius: 100%;
        width: fit-content;
        height: fit-content;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: $Tempest-Browser-Privacy-Panel-1-hex;
          transition: all 0.3s ease-in-out;
          color: $text-white;
          width: fit-content;
          padding: .4rem;
          border-radius: 100%;
        }

        &:disabled {
          background: $disabled;
          color: $disabled-text;
          border: none;
          width: fit-content;
          font-weight: 600;
          padding: .4rem;
          border-radius: 100%;
        }

        svg {
          display: block;
          margin: auto;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 1080px) and (min-width: 768px) {
  .image-overlay {
    display: none;
  }
}

@media (max-width: 767px) {
  .image-overlay {
    display: none;
  }
}