@import "tailwindcss";

@theme {

    --color-tempest-Browser-Privacy-Panel-1-hex: #2540D9;
    --color-tempest-Browser-Privacy-Panel-2-hex: #5E75F2;
    --color-tempest-Browser-Privacy-Panel-3-hex: #8091F2;
    --color-tempest-Browser-Privacy-Panel-4-hex: #9BA8F2;
    --color-tempest-Browser-Privacy-Panel-5-hex: #E9EBF2;

    --font-inter: "Inter", sans-serif;

}
