/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.footer {
  background: #ffffff;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer__cols {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  grid-auto-columns: max-content;
  justify-items: center;
}

.footer__cols-item {
  margin-left: 4rem;
}

.footer__info {
  display: grid;
  grid-auto-flow: row;
  font-size: 0.9rem;
}
.footer__info p {
  margin: 0.3rem;
}
.footer__info a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  padding: 0.1rem;
}
.footer__info a:hover {
  padding: 0.1rem;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  background: #2540D9;
}

.footer__nav {
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5rem;
}

.footer__nav-link > a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  padding: 0.1rem;
}
.footer__nav-link > a:hover {
  padding: 0.1rem;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  background: #2540D9;
}

/* Color Theme Swatches in Hex */
.header {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}
.header_nav {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Logo, Flexible Space, Language Switcher */
  justify-content: space-between; /* Aligns items to each side */
  align-items: center;
}
.header_nav_logo {
  margin-left: 4rem;
}
.header_nav_logo h1 {
  margin: 0;
  text-align: center;
}
.header_nav_bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-items: center;
  list-style: none;
}
.header_nav_bar_link > a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}
.header_nav_bar_link > a:hover {
  background: #2540D9;
  color: #ffffff;
}
.header_nav_language {
  margin-right: 4rem;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.card {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem 0 #c2c2c2;
  width: 300px;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.card__footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
}
.card__footer p {
  margin: 0;
  align-self: center;
}
.card .button {
  transition: all 0.3s ease-in-out;
  color: #000000;
  font-weight: 600;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
  border: none;
  background: #ffffff;
}
.card:hover {
  box-shadow: 0 0 1rem 0 rgba(194, 194, 194, 0.2);
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
  border: #2540D9 solid 2px;
}
.card:hover .button {
  background: #2540D9;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
}
.card__content {
  display: grid;
  grid-auto-flow: row;
}
.card__content-title {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: max-content;
  justify-items: left;
  grid-gap: 1rem;
}
.card__content-title h3, .card__content-title p {
  margin: 0;
  align-self: center;
}
.card__content-title p {
  font-size: 1rem;
  font-weight: 500;
  color: #5c5c5c;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Color Theme Swatches in Hex */
.filter {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 2rem;
  width: fit-content;
  align-self: center;
}
.filter_input {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}
.filter_input label {
  font-weight: 600;
}
.filter_input input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #E9EBF2;
  transition: all 0.3s ease-in-out;
}
.filter_input input:focus, .filter_input input:hover {
  border: 2px solid #2540D9;
}
.filter_input input:invalid {
  border: 2px solid #BF1F2C;
}
.filter_input input:disabled {
  border: 2px solid #BDBDBD;
  color: #9E9E9E;
  cursor: not-allowed;
}
.filter_input select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #E9EBF2;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
}
.filter_input select:hover {
  border: 2px solid #2540D9;
  transition: all 0.3s ease-in-out;
}
.filter_input select:disabled {
  border: 2px solid #BDBDBD;
  color: #9E9E9E;
  cursor: not-allowed;
}

.btn, .btn-pagination {
  color: #000000;
  background: #ffffff;
  border: none;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover, .btn-pagination:hover {
  background: #2540D9;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
}
.btn:disabled, .btn-pagination:disabled {
  background: #BDBDBD;
  color: #9E9E9E;
  border: none;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn-pagination {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 0.7rem;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
}
.btn-pagination:hover {
  background: #2540D9;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 100%;
}
.btn-pagination:disabled {
  background: #BDBDBD;
  color: #9E9E9E;
  border: none;
  width: fit-content;
  font-weight: 600;
  padding: 0.7rem;
  border-radius: 100%;
}
.btn-pagination svg {
  display: block; /* Removes any extra space below the SVG */
  margin: auto; /* Additional assurance for centering */
  width: 1rem;
  height: 1rem;
}

.language_switcher-button {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 1rem;
  width: 5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background: none;
}
.language_switcher-button:hover {
  background: #2540D9;
  color: #ffffff;
}
.language_switcher-content {
  position: absolute;
  box-shadow: 0 0 0 0 rgba(194, 194, 194, 0.2);
}
.language_switcher-content-selection {
  font-weight: 600;
  width: 7rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.language_switcher-content-selection:hover {
  background: #2540D9;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.selected {
  background: #5E75F2;
  color: #ffffff;
}

/* Color Theme Swatches in Hex */
.image-overlay {
  position: fixed; /* This positions the overlay relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
  display: grid;
  place-items: center; /* This centers the content (image) inside the overlay */
  z-index: 1000; /* High z-index to ensure it overlays everything else */
}
.image-overlay__image > img {
  border-radius: 1rem;
}
/* Color Theme Swatches in Hex */
.accordion {
    background: #ffffff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    border: 3px solid transparent;
}

.accordion_header > span {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #000;
}

.accordion_content {
    padding: 0.5rem;
    display: grid;
}

.accordion_content p {
    margin: 0.2rem;
}

.accordion:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
    border: #2540D9 solid 2px;
}

body {
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  background: #E9EBF2;
  margin: 0;
}

main {
  padding: 4rem;
}

.home {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
}
.home_headline {
  display: grid;
}
.home_headline-text {
  width: 60rem;
  justify-self: center;
  text-align: center;
}
.home_headline-text hr {
  width: 10rem;
  border-width: 1.5px;
}
.home_headline-text p {
  font-size: 1.2rem;
  font-weight: 600;
}
.home_about {
  margin-top: 5rem;
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
}
.home_about .text {
  width: 40rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  place-self: center;
}
.home_about .image img {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 #c2c2c2;
}
.home span {
  padding: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.home span:hover {
  color: #ffffff;
  background: #2540D9;
  padding: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.gallery {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-gap: 2rem;
}
.gallery .filter-component {
  justify-self: center;
}
.gallery_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  height: 40rem;
  overflow-x: auto;
  padding: 1rem;
  justify-items: center;
}
.gallery_message {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}
.gallery_message .message-box {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background: #de3341;
  color: #ffffff;
  border: 2.5px solid #BF1F2C;
  transition: all 0.4s ease-in-out;
}
.gallery_message .message-box .icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.gallery_message .message-box p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.gallery_message .message-box:hover {
  transform: scale(1.05);
  background: #BF1F2C;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
  padding: 2rem;
  width: fit-content;
  border-radius: 2rem;
}
.gallery_footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1rem;
  justify-content: center;
}
.gallery_footer span {
  align-self: center;
  font-weight: 600;
  font-size: 1.05rem;
}

.detail {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 5rem;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  align-items: center;
}
.detail__image img {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 #c2c2c2;
    transition: all 0.3s ease-in-out;
}
.detail__image img:hover {
  transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  box-shadow: 0 0 1rem 0 rgba(194, 194, 194, 0.5);
    cursor: zoom-in;
}
.detail__content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  width: 40rem;
  place-self: center;
}
.detail__content-title {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: max-content;
  justify-items: left;
  grid-gap: 0.5rem;
}
.detail__content-title h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.detail__content-title h2, .detail__content-title p {
  margin: 0;
  align-self: center;
}
.detail__content-title p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5c5c5c;
}
.detail__content-info {
  font-size: 1.2rem;
  font-weight: 600;
}
.detail__content-footer > a {
  transition: all 0.3s ease-in-out;
  color: #000000;
  font-weight: 600;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
  text-decoration: none;
}
.detail__content-footer > a:hover {
  background: #2540D9;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex-grow: 1; /* Allows the content to grow and push the footer down */
}

.image-metadata-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 1rem;
}

.image-metadata-container-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.image-metadata-container-header i {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.image-metadata-container-header-camera h3 {
    margin: 0 0 0.1rem 0;
}

.image-metadata-container-header-camera span {
    font-size: 1rem;
    font-weight: 600;
    color: #5c5c5c;
}

.image-metadata-container-content {
    margin-top: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.image-metadata-container-content-column {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 1.5rem;
    justify-items: center;
}

.image-metadata-container-content-column-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-metadata-container-content-column-item i {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.image-metadata-container-content-column-item span {
    font-size: 1rem;
    font-weight: normal;
}

/*# sourceMappingURL=main.css.map */
